<header>
    <h1><img src="#"  alt="Logo"></h1>
    <form acction="#" method="GET">
        <input class="buscador" type="search" placeholder="Buscar productos">
        <div class="contenedor">
           <button><span class="fas fa-search"></span></button>
        </div>
    </form>
    <p>
        <span class="fas fa-hand-holding-usd"></span>Sistemas de Administracion de productos
    </p>
    <nav>
        <ul>
            <li><a href="#">Productos</a></li>
            <li><a href="/products/create">Nuevo</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="menulog">
            <li><a href="/register">Creá tu cuenta
                <span class="fas fa-address-card"></span>
                </a></li>
            <li><a href="/login">Ingresá
                <sapn class="fas fa-sign-in-alt"></sapn>
                </a></li>
        </ul>
    </nav>

    <i class="fas fa-bars"></i>
</header>