<article>
    <img src="/images/<%= product.image %>" width="200" alt="Cafetera" class="product_img">
    <div class="track">
    <i class="fas fa-truck-moving"></i>
    <p class="precio">$<%= product.price %></p>
    <p><%= product.descuento %> % off</p>
    <h4><%= product.name %></h4>
    </div>
</article>