<!DOCTYPE html>
<html lang="es">

   <%- include('partials/head') %>
   


<body>
  <%- include('partials/header') %>
  <section>
    <img class="banner"  src="/images/img-home-banner.jpg" width="360" alt="Banner de ofertas">
</section>
    <main>
        <section>

            <h3>Basado en tu última visita</h3>
          
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" width="200" alt="Cafetera" class="product_img">
                <div class="track">
                <i class="fas fa-truck-moving"></i>
                <p class="precio">$6.770</p>
                <p>40% off</p>
                <h4>Cafetera Moulinex</h4>
                </div>
            </article>
            
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" width="200" alt="MacBook" class="product_img">
                <div>
                <i class="fas fa-truck-moving"></i>
                <p class="precio">$230.000</p>
                <p>20% off</p>
                <h4>MacBook Pro 2019</h4>
                </div>
            </article>
            
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" width="200" alt="Teléfono Móvil Samsung Galaxy"
                    class="product_img">
                <div>
                <i class="fas fa-truck-moving"></i>
                <p class="precio">$70.500</p>
                <p>10% off</p>
                <h4>Teléfono móvil Samsung Galaxy S10</h4>
                </div>
            </article>
           
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" width="200" alt="SmartTv Samsung" class="product_img">
                <div>
                <i class="fas fa-truck-moving"></i>
                <p class="precio">$23.200</p>
                <p>5% off</p>
                <h4>SmartTv Samsung 43"</h4>
                </div>
            </article>
      
        </section>

        <section>
            <h3 class="oferta">Ofertas</h3>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" width="200" alt="Cafetera" class="product_img">
                <div>
                <i class="fas fa-truck-moving"></i>
                <p class="precio">$6.770</p>
                <p>40% off</p>
                <h4>Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" width="200" alt="MacBook" class="product_img">
                <div>
                <i class="fas fa-truck-moving"></i>
                <p class="precio">$230.000</p>
                <p>20% off</p>
                <h4>MacBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" width="200" alt="Teléfono Móvil Samsung Galaxy"
                    class="product_img">
                <div>
                <i class="fas fa-truck-moving"></i>
                <p class="precio">$70.500</p>
                <p>10% off</p>
                <h4>Teléfono móvil Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" width="200" alt="SmartTv Samsung" class="product_img">
                <div>
                <i class="fas fa-truck-moving"></i>
                <p class="precio">$23.200</p>
                <p>5% off</p>
                <h4>SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
    </main>
   <%- include('partials/footer') %>
   
</body>

</html>