<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <main class="main">
        <section class="formu">
            <form accion="/users/store" method="POST">
                <input class="formulario" type="text" placeholder="Nombre de usuario" name="usuario" />
                <div class="denger">
                    <% if(locals.erroresControlados && erroresControlados.usuario){ %>
                        <p>
                            <%= erroresControlados.name.msg %>
                        </p>
                    <% } %>
                </div>
                <input class="formulario" type="password" placeholder="Elegí tu contraseña" name="clave" />
                <a href="/views/home.html"><input class="enviar" type="submit" value="Enviar"/></a>
            </form>      
        </section>
    </main>

    <%- include('partials/footer') %>
</body>
</html>