<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/css/styles.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <title>Registrate</title>
</head>
<body>
    <header>
        <h1><img src="#"  alt="Logo"></h1>
        <input class="buscador" type="search" placeholder="Buscar productos">
        <div class="contenedor">
            <span class="fas fa-search"></span>
        </div>
        <p>
            <span class="fas fa-hand-holding-usd"></span>Comprá en cuotas y sin tarjeta de crédito
        </p>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="menulog">
                <li><a href="/views/register.html">Creá tu cuenta
                    <span class="fas fa-address-card"></span>
                    </a></li>
                <li><a href="/views/login.html">Ingresá
                    <sapn class="fas fa-sign-in-alt"></sapn>
                    </a></li>
                <li><a href="#">Mis compras
                    <sapn class="fas fa-shopping-basket"></sapn>
                    </a></li>
            </ul>
        </nav>
    
        <i class="fas fa-bars"></i>
    </header>
    <main class="main">
        <section class="formularios">
    <div class="formul">
    <form action="procesar.php" method="POST" enctype="multipart/form-data">
        <div>
            <input class="formulario1" type="text" placeholder="Nombre y Apellido" autofocus autocomplete="off" pattern="[A-Z0-9]{4,10}" title="Ingrese más de un caracter">
        </div>
        <div>
            <input class="formulario1" type="text" placeholder="Nombre de Usuario" pattern="[A-Z0-9]{4,10}" title="Ingrese más de un caracter" >
        </div>
        <div>
            <input class="formulario1" type="email" placeholder="E-mail" required>
        </div>
        <div>
            <p>
                Fecha de Nacimiento
            </p>
            
        </div>
        <div>
            <input class="formulario1" type="date" required>
        </div>
        <div>
            <input class="formulario1" type="text" placeholder="Domicilio" pattern="[A-Z0-9]{4,10}" title="Ingrese más de un caracter">
        </div>
        <div>
            <p>
                Perfil del Usuario
            </p>
        </div>
        <div class="radio">
          <label><input  type="radio" name="perfil" value="comprador" checked>  Comprador</label>
          <label><input  type="radio" name="perfil" value="comprador" >Vendedor</label>
        </div>
        <div>
        <p>
            Intereses
        </p>
        </div>
        <div class="check" >
            <div>
                <input type="checkbox" name="electro" id="o1" value="" checked><label for="o1">Electro</label>
            </div>
            <div>
                <input type="checkbox" name="moda" id="o2" value=""><label for="o2">Moda</label>
            </div>
            <div>
                <input type="checkbox" name="hogar" id="o3" value=""><label for="o3">Hogar</label>
            </div>
            <div>
                <input type="checkbox" name="jugueteria" id="o4" value=""><label for="o4">Jugueteria</label>
            </div>
            <div>
                <input type="checkbox" name="vida sana" id="o5" value=""><label for="o5">Vida sana</label>
            </div>
        </div>
        <div>
            <p>
                Elegí tu foto de usuario
            </p>
        </div>
        <div>
            <input type="file" accept="image/*,video/mp4">
        </div>
        <div>
            <input class="formulario1" type="password" placeholder="Elegí tu contraseña" name="usuario" required pattern="[A-Z0-9]{4,10}" title="Ingrese más de un caracter"/>
        </div>
        <div>
           <input class="formulario1" type="password" placeholder="confirmá tu contraseña" name="clave" required pattern="[A-Z0-9]{4,10}" title="Ingrese más de un caracter"/>
         </div> 
         <div>      
           <input class="enviar2" type="submit" value="Enviar"/>
        </div>
        <div>      
            <input class="borrar" type="reset" value="Borrar"/>
         </div>
    </form>
    </div>
    </section>
</main>
    <footer>
        <section >
                    <div class="padre">
                        <div class="hijo">
                    <i class="fas fa-credit-card"></i>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es seguro!</p>
                        </div>
                    <div class="padre">
                        <div class="hijo">
                    <i class="fas fa-gift"></i>
                    <h3>Envío gratis desde $2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                        </div>
                </div>
                    <div class="padre">
                        <div class="hijo">
                    <i class="fas fa-user-shield"></i>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
                        </div>
                </div>
        </section>
         <section>
            <article>
                <h5>Copyright © 1999-2021 MercadoLiebre S.R.L.</h5>
            </article>
        </section>
    </footer>
</body>
</html>