*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


header{
    background: #EAC926;
    border: 5px solid #EAC926;
    width: 360px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
header h1{
    background-image: url("/images/logo-mercado-liebre.svg");
    background-repeat: no-repeat;
    text-indent: -200px;
    overflow: hidden;
    box-sizing: border-box;
}
header p{
    text-align: center;
    margin-top: 25px;
}
header nav ul{
    padding-left: 0;
}
header nav{
    margin-top: 15px;
    margin-left: -100%;
}
header nav ul li{
    list-style: none;
    overflow: auto;
}
header nav ul a{
    text-decoration: none;
    color: black;
    margin: 0;
}
header .buscador{
    padding: 5px 5px;
    margin: 15px;
}
header .contenedor{
    display: inline-block;
    background-color: white;
    width: 28px;
    margin-top: -10px;
    margin-left: -15px;
}
header .contenedor span{
    padding: 5px;
}
header i{
    background: #1259c3;;
    color: white;
    padding: 10px;
    margin-left: 45%;
    border-radius: 5px;
    font-size: 20px;
    position: absolute;
    margin-top: -80px;
}
header span{
    margin-left: 0px;
}
main{
    width: 90%;
    margin: 0px auto;
}

main section .precio{
    font-size: 18px;
    color: black;
}
main section p{
    padding: 5px;
    color: #39b54a;
    position: relative;
}
main section i{
    color: #39b54a;
    border-style:groove;
    border-radius: 50%;
    padding: 5px;
}
main article{
    border: 2px solid #ebebeb;
    margin: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
main article h4{
    margin-left: -150%;
}
section h3{
    text-align: center;
}




footer{
    margin-top: 180px ;
}
footer div{
    text-align: center;
}
footer i{
    color: #03264C;
    font-size: 50px;

    
}

footer section{
    text-align: center;
}

footer p{
    color: #666;
    line-height: 20px;
    height: 100px;
}
footer h5{
    color: #666;
}


@media (min-width: 768px){
    header{
        width: 768px;
    }
    header p{
        font-size: 22px;
    }
    header nav ul a{
        font-size: 20px;
    }
    header i{
        margin-left: -100%;
    }
    header nav{
        margin-left: 0;
    }
    header .buscador{
        width: 350px;
    }
    main section .precio{
        font-size: 22px;
    }
    section p{
        font-size: 20px;
    }
    main article h4{
        font-size: 20px;
        margin-left: 0%;
    }
    section .banner{
        width: 768px;
    }
    main img{
        width: 334px;
        margin-left: 25%;
    }
    main section i{
        margin-left: -75%;
    }
    section h3{
        font-size: 22px;
    }
    footer p{
    width: 400px;
    line-height: 25px;
    margin-left: 25%;
    }
    footer h5{
        font-size: 18px;
    }
}


@media (min-width: 1280px){
    header{
        width: 1280px;
    }
    section .banner{
        width: 1280px;
    }
    main img{
        width: 400px;
        margin-left: 35%;
    }
    
    header .buscador{
        width: 450px;
    }
    header p{
        font-size: 24px;
    }
    footer p{
        width: 600px;
        line-height: 25px;
    }
    footer h5{
        font-size: 18px;
    }
    main section i{
        margin-left: -70%;
    }
}






























